{
  "endOfLine": "auto",
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true
      }
    }
  ]
}